$black: #1f2d3d;

$white: #ffffff;
$white-medium: #e5e9f2;
$white-light: #f9fafc;

$gray-dark: #8492a6;
$gray-medium: #c0ccda;
$gray-light: #d3dce6;

$blue: #2e2efd;

$aqua: #00daf9;
$aqua-light: #eefdff;

@mixin gradient($attribute) {
  #{$attribute}: $blue;
  #{$attribute}: -webkit-linear-gradient(to right, $blue, $aqua);
  #{$attribute}: linear-gradient(to right, $blue, $aqua);
}
