@use "../utilities/colors" as *;
@use "../utilities/breakpoints" as *;

.button {
  height: 3rem;

  background-color: $purple;

  border-radius: 0.5rem;
  border: 0;

  color: $white-details;
  font-weight: 500;

  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;

  &.outlined {
    background-color: $white;

    border: 1px solid $purple;

    color: $purple;

    &:not(:disabled):hover {
      background-color: $white;

      color: $purple-hover;

      border-color: $purple-hover;

      transition: all 0.2s ease-in-out;
    }
  }

  &:not(:disabled):hover {
    background-color: $purple-hover;

    transition: all 0.2s ease-in-out;
  }

  &:disabled {
    opacity: 0.4;

    cursor: not-allowed;
  }
}
