@use "../utilities/colors" as *;
@use "../utilities/breakpoints" as *;

.question {
  background-color: $white;

  border-radius: 0.25rem;
  border: 1px solid $gray-light;

  padding: 1.5rem;

  & + .question {
    margin-top: 1.5rem;
  }

  &.highlighted {
    background-color: $aqua-light;

    border: 1px solid $aqua;

    footer .user-info span {
      color: $black;
    }
  }

  &.answered {
    background-color: $gray-light;

    p {
      color: $gray-dark !important;
    }

    footer .user-info img {
      filter: grayscale(1);
    }
  }

  p {
    color: $black;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;

        border-radius: 0.25rem;
      }

      span {
        margin-left: 0.5rem;

        color: $gray-dark;
        font-size: 0.875rem;
      }
    }

    > div.buttons {
      display: flex;

      gap: 1rem;
    }

    button {
      border: 0;

      background: transparent;

      transition: all 0.2s ease-in-out;

      &.like-button {
        display: flex;
        align-items: flex-end;

        color: $gray-dark;

        gap: 0.5rem;

        &.liked {
          color: $blue;

          svg path {
            stroke: $blue;
          }
        }
      }

      &:hover {
        transition: all 0.2s ease-in-out;

        filter: brightness(0.8);
      }
    }
  }
}
