@use "../utilities/colors" as *;
@use "../utilities/breakpoints" as *;

#page-room {
  padding-bottom: 3rem;

  header {
    padding: 1.5rem;

    border-bottom: 1px solid $gray-light;

    background-color: $white;

    .content {
      max-width: 70rem;

      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $sm) {
        justify-content: center;
      }

      > img {
        max-height: 3rem;

        @media (max-width: $sm) {
          display: none !important;
        }
      }
    }

    div {
      display: flex;

      gap: 1rem;

      button {
        height: 2.5rem;
      }
    }
  }

  main {
    max-width: 50rem;

    margin: 0 auto;

    @media (max-width: $sm) {
      padding: 0 2rem;
    }

    .room-title {
      margin: 2rem 0 2rem;

      display: flex;
      align-items: center;

      h1 {
        font-family: Poppins, sans-serif;
        font-size: 1.5rem;
        color: $black;
      }

      span {
        margin-left: 1rem;
        padding: 0.25rem 1rem;

        background-color: $blue;

        user-select: none;

        border-radius: 9999px;

        color: $white;
        font-weight: 500;
        font-size: 0.875rem;
      }
    }

    form {
      textarea {
        width: 100%;

        padding: 1.5rem;

        background-color: $white;

        border-radius: 0.25rem;
        border: 1px solid $gray-light;

        color: $gray-dark;

        resize: vertical;
        min-height: 8rem;

        &::placeholder {
          color: $gray-dark;
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;

            border-radius: 0.25rem;
          }

          span {
            margin-left: 0.5rem;

            color: $gray-dark;
            font-weight: 600;
            font-size: 0.875rem;
          }
        }

        > span {
          font-size: 0.875rem;
          color: $gray-dark;
          font-weight: 400;

          button {
            background: transparent;

            border: 0;

            font-size: 0.875rem;
            color: $blue;
            font-weight: 600;

            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;

      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .empty-questions {
        max-width: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > img {
          width: 10rem;

          margin-bottom: 1rem;
        }

        > h3 {
          font: 700 1.125rem Poppins;
          text-align: center;

          margin-bottom: 1rem;
        }

        > p {
          font-size: 0.875rem;
          color: $gray-dark;
          text-align: center;
        }
      }
    }
  }
}
