@use "../utilities/colors" as *;
@use "../utilities/breakpoints" as *;

.room-code {
  height: 2.5rem;

  padding: 0.25rem 0.5rem;

  border-radius: 0.25rem;
  border: 2px solid $blue;

  overflow: hidden;
  text-overflow: ellipsis;

  background-color: $white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  span {
    font-size: 1rem;
    color: $blue;
    white-space: nowrap;
  }
}
